<mat-card class="createFlight">
  <mat-card-title class="title">Create Flight</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <mat-form-field class="airline-field">
          <mat-label>
            <mat-icon>flight</mat-icon>
            Airline
          </mat-label>
          <mat-select formControlName="airline">
            <mat-option
              *ngFor="let airline of airlines"
              [value]="airline.value"
            >
              {{ airline.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="info.airline.errors?.required"
            >Please choose an airline.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="field">
          <mat-label>
            <mat-icon>flight_takeoff</mat-icon>
            Origin
          </mat-label>
          <mat-select formControlName="origin">
            <mat-option *ngFor="let origin of locations" [value]="origin.value">
              {{ origin.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="info.origin.errors?.required"
            >Please select origin.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="field">
          <mat-label>
            <mat-icon>flight_land</mat-icon>
            Destination
          </mat-label>
          <mat-select formControlName="destination">
            <mat-option
              *ngFor="let destination of locations"
              [value]="destination.value"
            >
              {{ destination.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="info.destination.errors?.required"
            >Please select destination.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="field">
          <label for="depDate">Departure Date</label>
          <input matInput type="Date" formControlName="depDate" />
          <mat-error *ngIf="info.depDate.errors?.required">Please select departure date.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Departure Time</mat-label>
          <input matInput type="time" formControlName="depTime" required />
          <mat-error *ngIf="info.depTime.errors?.required">Please input departure time.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Arrival Time</mat-label>
          <input matInput type="time" formControlName="arrTime" required />
          <mat-error *ngIf="info.arrTime.errors?.required">Please input arrival time.</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput type="text" formControlName="type" required />
          <mat-error *ngIf="info.type.errors?.required">Please input type.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Flight Code</mat-label>
          <input matInput type="text" formControlName="flightCode" required />
          <mat-error *ngIf="info.flightCode.errors?.required">Please input flight code.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Flight Price</mat-label>
          <input
            matInput
            type="number"
            formControlName="flightPrice"
            required
          />
          <mat-error *ngIf="info.flightPrice.errors?.required">Please input flight price.</mat-error>
        </mat-form-field>
      </div>
      <button type="submit" class="btn btn-secondary" [disabled]="!form.valid">
        ENTER
      </button>
    </form>
  </mat-card-content>
</mat-card>
