.createFlight {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

mat-form-field {
    padding: 10px;
}

button {
    background-color: blueviolet;
    width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.confirmation {
    text-align: center;
}

.closebtn {
    border-style: none;
    height: 30px;
    width: 70px;
    font-size: 20px;
}