.createFlight {
    padding: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(36, 36, 36, 0.3);
}

.title {
    font-family: 'myFont';
    font-weight: bold;
    color: white;
}

mat-form-field {
    padding-bottom: 20px;
    width: 400px;
    font-size: 15px;
    font-family: 'myFont';
}

.submit {
    height: 50px;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 75%;
    width: 25%;
}

.form-group {
    display: inline;
    flex-direction: column;
}

.confirmation {
    text-align: center;
}

.closebtn {
    border-style: none;
    height: 30px;
    width: 70px;
    font-size: 20px;
}

.field {
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
}


::ng-deep .mat-select-arrow {
    color: white!important;
}

::ng-deep .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(98, 0, 255)!important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #640000!important;
}

::ng-deep .mat-form-field-underline {
    background-color: #ffffff!important;
}


::ng-deep .mat-select-value, input{    
    color: #e5d5ff!important;  
    font-size: 20px;
}

mat-error {
    color: #640000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert();
}