.btn {
  width: 100px;
  height: 9%;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgb(161, 0, 0);
  color: rgb(161, 0, 0);
  background-color: transparent;
  font-weight: bold;
  font-size: 17px;
}

.btn:hover {
  background-color: rgba(212, 32, 32, 0.2);
}

.modal-header {
  height: 50px;
}

.close {
  font-size: 15px;
  height: 50px;
  padding: 0;
}

.option {
  text-align: right;
}

.msg {
  font-size: 17px;
}

.choice {
  font-size: 16px;
}

.confirmMsg {
  margin-top: 15px;
  text-align: center;
}

.btn:disabled {
    border: none;
    color: transparent;
    background-color: transparent;
}
