<mat-card class="bookflight">
    <mat-card-title class="title">BOOK FLIGHT</mat-card-title>
    <mat-card-content>
        <form class="flight-form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="airline-field">
                <mat-label>
                    <mat-icon>flight</mat-icon>
                    Airline
                </mat-label>
                <mat-select formControlName="airLine" [(value)]="selectedAir">
                    <mat-option *ngFor="let airline of airlines" [value]="airline.value">
                        {{airline.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="bf.airLine.errors?.required">Please choose an airline.</mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>
                    <mat-icon>flight_takeoff</mat-icon> 
                    Origin
                </mat-label>
                <mat-select formControlName="orig" [(value)]="selectedOri">
                    <mat-option *ngFor="let origin of locations" [value]="origin.value">
                        {{origin.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="bf.orig.errors?.required">Please select origin.</mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>
                    <mat-icon>flight_land</mat-icon> 
                    Destination
                </mat-label>                              
                <mat-select formControlName="dest" [(value)]="selectedDes">
                    <mat-option *ngFor="let destination of locations" [value]="destination.value">
                        {{destination.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="bf.dest.errors?.required">Please select destination.</mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>
                    <mat-icon>route</mat-icon>
                    Select trip
                </mat-label>
                <mat-select formControlName="trip" [(value)]="selectedTrip" (valueChange)="onChange()">
                    <mat-option value="trip1">One-Way Trip</mat-option>
                    <mat-option value="trip2">Round Trip</mat-option>
                </mat-select>
                <mat-error *ngIf="bf.trip.errors?.required">Please select a trip.</mat-error>
            </mat-form-field>

            <br>

            <mat-form-field class="field" *ngIf="selectedTrip == 'trip1' || selectedTrip == 'trip2'">
                <mat-label>Departure Date</mat-label>
                <input matInput
                    type="date"
                    formControlName="depDate"
                    >
                <mat-error *ngIf="bf.depDate.errors?.required">Please select departure date.</mat-error>
            </mat-form-field>

            <mat-form-field class="field" *ngIf="selectedTrip == 'trip2'">
                <mat-label>Return Date</mat-label>
                <input matInput
                    type="date"
                    formControlName="retDate"
                    >
                
                    <mat-error *ngIf="bf.retDate.errors?.confirmedValidator">Invalid return date.</mat-error>
            </mat-form-field>          
            
            <button mat-raised-button color="primary" class="search" [disabled]="!bookForm.valid">Search Flights</button>
        </form>
    </mat-card-content>
</mat-card>

<app-matching-flight-list *ngIf="matched" [departingFlight]="departingFlight" [returningFlight]="returningFlight"></app-matching-flight-list>
<div id="noMatches" *ngIf="!matched && submitted && !retDateMatched">
    <h2>- No matches found -</h2>
</div>

