.cancelled {
    opacity: 0.5;
}

tr.flights {
    border-radius: 50px;
    background-color: yellow;
}

.heading {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.book-heading {
    font-style: italic;
    font: bold;
    color: white;
}

div.tick-container {
    margin: 0 auto;
    width: 1100px;
    font-family: 'myFont';
}

.isCancelled {
    opacity: 0.5;
}

.dep-container {
    margin-bottom: 25px;
}

td {
    width: 550px;
    border: 1px solid grey;
    background-color: rgb(236, 246, 255);
    padding-top: 15px;
    padding-bottom: 0;
}

.flightDet, .guestDet {
    background-color: rgb(52, 128, 228);
    height: 40px;
    padding: 10px;
    font-weight: 500;
    color: white;
}

.flight-header {
    padding: 5px;
}

.blank-cancel {
    height: 38px;
    width: 15%;
    text-align: center; 
    background-color: transparent;
    color: transparent !important;
}

.dateLabel, .rfDateLabel {
    float: left;
    text-align: left;
    padding-left: 5px;
    width: 80%;
    height: 38px;
}

.label {
    color: rgb(115, 156, 245);
    font-weight: 500;
    font-size: 12px;
}

.date {
    font-size: 15px;
}

.depLabel {
    color: rgb(115, 156, 245);
    font-size: 12px;
}

.depDate {
    color: skyblue;
    font-size: 13px;
}

.flightCode, .flightStatus {
    font-style: italic;
    font-weight: 500;
}

.codeLabel, .statusLabel {
    font-style: normal;
    font-weight: 400;
}

p {
    margin: 0;
}

.flight-content {
    height: 200px;
}

.flight-status {
    text-align: right;
    padding-right: 10px;
    padding-top: 8px;
}

.contentHeader {
    padding: 10px;
    padding-top: 0;
    height: 55px;
}

.icon {
    float: left;
    height: 40px;
    width: 40px;
}

.airplane {
    height: 35px;
}

.departure {
    width: 150px;
    float: left;
}

.code-air {
    text-align: right;
}

.origin {
    width: 45%;
    float: left;
}

.icon-to {
    text-align: center;
    padding-top: 15px;
    float: left;
    height: 50px;
    width: 10%;
}

.paperplane {
    height: 25px;
}

.destination {
    width: 45%;
    float: right;
}

.flight-location {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.time {
    text-align: right;
    font-size: 20px;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 10px;
    float: left;
    width: 45%;
}

.loc-det {
    text-align: left;
    float: right;
    width: 55%;
}

.guest-info {
    padding: 10px;
}

.guestP {
    font-size: 13px;
    font-weight: 500;
}

.guest {
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    width: 115px;
}

td.depFlight {
    border-right: 1px dashed rgb(175, 175, 175);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-left: 20px;
}

td.retFlight {
    border-left: 1px dashed rgb(175, 175, 175);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 20px;
}
