<div class="heading">
    <h1 class="book-heading">Two-Way Bookings</h1>
</div>
    <table class="tick-container"> 
        <tr> 
            <td>
                <div class="dep-container" *ngFor="let depFl of twoWayDep">

                    <div class="flight-header">
                        <div class="dateLabel">
                            <p class="label">BOOKING DATE</p>
                            <p class="date">{{depFl.depDate}}</p>
                        </div>                    
                        <div class="blank-cancel">                                             
                        </div>
                    </div>

                    <div class="flightDet">
                        <p>Flight Details</p>
                    </div>

                <div class="flight-content">

                    <div class="contentHeader">
                        <div class="icon">
                            <img class="airplane" src="assets/images/airplane.png" alt="image">
                        </div>
                        <div class="departure">
                            <p class="depLabel">DEPARTURE</p> 
                            <p class="depDate">{{depFl.depDate}}</p>
                        </div>        
                        <div class="code-air">
                            <p>{{depFl.airline}}</p>
                            <p class="flightCode"> <label class="codeLabel">Flight Code:</label>{{depFl.flightCode}}</p>
                        </div>
                    </div>

                    <div class="origin">
                        <h1 class="flight-location">{{depFl.origin}}</h1>
                        <div class="time">
                            <p>{{depFl.depTime}}</p>
                        </div>        
                        <div class="loc-det">
                            <p>Depart {{depFl.origin}}</p>
                        <p>Philippines</p>
                        </div>
                    </div>

                    <div class="icon-to">
                        <img class="paperplane" src="assets/images/paperplane.png" alt="image">
                    </div>

                    <div class="destination">
                        <h1 class="flight-location">{{depFl.destination}}</h1>
                        <div class="time">
                            <p>{{depFl.arrTime}}</p>
                        </div>        
                        <div class="loc-det">
                            <p>Arrival {{depFl.destination}}</p>
                            <p>Philippines</p>
                        </div>
                    </div>
                </div>

                    <div class="guestDet">
                        <p>Guest Details</p>
                    </div>

                    <div class="guest-content">
                        <div class="guest-info">
                            <p class="guestP"> <label class="guest">Name:</label> {{depFl.firstName}} {{depFl.lastName}}</p>
                            <p class="guestP"> <label class="guest">No. of Passengers:</label> {{depFl.passNum}}</p>
                            <p class="guestP"> <label class="guest">Seat Class:</label> {{depFl.seatClass}}</p>
                        </div>        
                    </div>
                </div>
            </td>

            <td class="retFlight">
                <div class="ret-container" *ngFor="let retFl of twoWayRet">               

                    <div class="flight-header">      
                        <div class="rfDateLabel">                        
                        </div>
                        <div class="cancel">
                            <app-cancel-booking [bookingID]="retFl.$key" [twoWayFl]="retFl"></app-cancel-booking>                       
                        </div>
                    </div>                   

                    <div class="flightDet">
                        <p>Flight Details</p>
                    </div>

                <div class="flight-content">

                    <div class="contentHeader">
                        <div class="icon">
                            <img class="airplane" src="assets/images/airplane.png" alt="image">
                        </div>
                        <div class="departure">
                            <p class="depLabel">RETURNING</p> 
                            <p class="depDate">{{retFl.depDate}}</p>
                        </div>        
                        <div class="code-air">
                            <p>{{retFl.airline}}</p>
                            <p class="flightCode"> <label class="codeLabel">Flight Code:</label>{{retFl.flightCode}}</p>
                        </div>
                    </div>

                    <div class="origin">
                        <h1 class="flight-location">{{retFl.origin}}</h1>
                        <div class="time">
                            <p>{{retFl.depTime}}</p>
                        </div>        
                        <div class="loc-det">
                            <p>Depart {{retFl.origin}}</p>
                        <p>Philippines</p>
                        </div>
                    </div>

                    <div class="icon-to">
                        <img class="paperplane" src="assets/images/paperplane.png" alt="image">
                    </div>

                    <div class="destination">
                        <h1 class="flight-location">{{retFl.destination}}</h1>
                        <div class="time">
                            <p>{{retFl.arrTime}}</p>
                        </div>        
                        <div class="loc-det">
                            <p>Arrival {{retFl.destination}}</p>
                            <p>Philippines</p>
                        </div>
                    </div>
                </div>

                    <div class="guestDet">
                        <p>Guest Details</p>
                    </div>

                    <div class="guest-content">
                        <div class="guest-info">
                            <p class="guestP"> <label class="guest">Name:</label> {{retFl.firstName}} {{retFl.lastName}}</p>
                            <p class="guestP"> <label class="guest">No. of Passengers:</label> {{retFl.passNum}}</p>
                            <p class="guestP"> <label class="guest">Seat Class:</label> {{retFl.seatClass}}</p>
                        </div>        
                    </div>
                </div>
            </td>
        </tr>
    </table>