<div class="heading">
  <h1 class="book-heading">Two-Way Bookings</h1>
</div>
<div class="tick-container">
  <tbody class="ticket">
    <div class="dep-container" *ngFor="let depFl of twoWayDep; let i = index" [class.isCancelled]="depFl.status === 'Cancelled'">
    <tr class="flights">
      <td class="depFlight">
          <div class="flight-header">
            <div class="dateLabel">
              <p class="label">BOOKING DATE</p>
              <p class="date">{{ depFl.bookDate }}</p>              
            </div>
            <div class="cancel">
              <button disabled mat-button class="blank-cancel">Cancel</button>
            </div>
          </div>
  
          <div class="flightDet">
            <p>Flight Details</p>                        
          </div>
  
          <div class="flight-content">
            <div class="flight-status">
              <p class="flightStatus">
                <label class="statusLabel">Status: </label>
                {{ depFl.status }}
              </p>
            </div>
            <div class="contentHeader">
              <div class="icon">
                <img
                  class="airplane"
                  src="assets/images/airplane.png"
                  alt="image"
                />
              </div>
              <div class="departure">
                <p class="depLabel">DEPARTURE</p>
                <p class="depDate">{{ depFl.depDate }}</p>
              </div>
              <div class="code-air">
                <p>{{ depFl.airline }}</p>
                <p class="flightCode">
                  <label class="codeLabel">Flight Code:</label
                  >{{ depFl.flightCode }}
                </p>
              </div>
            </div>
  
            <div class="origin">
              <h1 class="flight-location">{{ depFl.origin }}</h1>
              <div class="time">
                <p>{{ depFl.depTime }}</p>
              </div>
              <div class="loc-det">
                <p>Depart {{ depFl.origin }}</p>
                <p>Philippines</p>
              </div>
            </div>
  
            <div class="icon-to">
              <img
                class="paperplane"
                src="assets/images/paperplane.png"
                alt="image"
              />
            </div>
  
            <div class="destination">
              <h1 class="flight-location">{{ depFl.destination }}</h1>
              <div class="time">
                <p>{{ depFl.arrTime }}</p>
              </div>
              <div class="loc-det">
                <p>Arrival {{ depFl.destination }}</p>
                <p>Philippines</p>
              </div>
            </div>
          </div>
  
          <div class="guestDet">
            <p>Guest Details</p>
          </div>
  
          <div class="guest-content">
            <div class="guest-info">
              <p class="guestP">
                <label class="guest">Name:</label> {{ depFl.firstName }}
                {{ depFl.lastName }}
              </p>
              <p class="guestP">
                <label class="guest">No. of Passengers:</label>
                {{ depFl.passNum }}
              </p>
              <p class="guestP">
                <label class="guest">Seat Class:</label> {{ depFl.seatClass }}
              </p>
            </div>
          </div>
      </td>
  
      <td class="retFlight">
        <div class="ret-container">
          <div class="flight-header">
            <div class="rfDateLabel"></div>
            <div class="cancel">
              <app-cancel-booking *ngIf=" depFl.status != 'Cancelled' && twoWayRet[i].status != 'Cancelled'"
                [bookingID]="depFl.$key"
                [bookingDate]="depFl.bookDate"
                [depDate]="depFl.depDate"
              ></app-cancel-booking>
              <button *ngIf=" depFl.status == 'Cancelled' || twoWayRet[i].status == 'Cancelled'" disabled mat-button class="blank-cancel">Cancel</button>
            </div>
          </div>
  
          <div class="flightDet">
            <p>Flight Details</p>
          </div>
  
          <div class="flight-content">
            <div class="flight-status">
              <p class="flightStatus">
                <label class="statusLabel">Status: </label>
                {{ twoWayRet[i].status }}
              </p>
            </div>
            <div class="contentHeader">
              <div class="icon">
                <img
                  class="airplane"
                  src="assets/images/airplane.png"
                  alt="image"
                />
              </div>
              <div class="departure">
                <p class="depLabel">RETURNING</p>
                <p class="depDate">{{ twoWayRet[i].depDate }}</p>
              </div>
              <div class="code-air">
                <p>{{ twoWayRet[i].airline }}</p>
                <p class="flightCode">
                  <label class="codeLabel">Flight Code:</label>
                  {{ twoWayRet[i].flightCode }}
                </p>
              </div>
            </div>
  
            <div class="origin">
              <h1 class="flight-location">{{ twoWayRet[i].origin }}</h1>
              <div class="time">
                <p>{{ twoWayRet[i].depTime }}</p>
              </div>
              <div class="loc-det">
                <p>Depart {{ twoWayRet[i].origin }}</p>
                <p>Philippines</p>
              </div>
            </div>
  
            <div class="icon-to">
              <img
                class="paperplane"
                src="assets/images/paperplane.png"
                alt="image"
              />
            </div>
  
            <div class="destination">
              <h1 class="flight-location">{{ twoWayRet[i].destination }}</h1>
              <div class="time">
                <p>{{ twoWayRet[i].arrTime }}</p>
              </div>
              <div class="loc-det">
                <p>Arrival {{ twoWayRet[i].destination }}</p>
                <p>Philippines</p>
              </div>
            </div>
          </div>
  
          <div class="guestDet">
            <p>Guest Details</p>
          </div>
  
          <div class="guest-content">
            <div class="guest-info">
              <p class="guestP">
                <label class="guest">Name:</label> {{ twoWayRet[i].firstName }}
                {{ twoWayRet[i].lastName }}
              </p>
              <p class="guestP">
                <label class="guest">No. of Passengers:</label>
                {{ twoWayRet[i].passNum }}
              </p>
              <p class="guestP">
                <label class="guest">Seat Class:</label> {{ twoWayRet[i].seatClass }}
              </p>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </div>
  </tbody>
  
</div>