.flight-heading {
    width: 900px;
    margin: 0 auto;
    margin-top: 25px;
}

.heading {
    font-style: italic;
}

table {
    width: 100%;
    background-color: rgba(165, 195, 252, 0.726);
    margin-bottom: 10px;
    border-radius: 15px;
}

td {
    width: 20%;
    padding: 1.5em;
}

.ret-container, .dep-container {
    width: 900px;
    margin: 0 auto;
    margin-top: 15px;
}

.selected {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(168, 85, 189);
}

.butSelected {
    content: 'Selected';
}

label {
    font-weight: bold;
}

p {
    font-style: italic;
}

.btn {
    margin-left: 85%;
    width: 15%;
    text-align: center;
}

.book {
    margin-left: 45%;
    margin-right: 45%;
}

.btn-container {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}