.flight-heading {
    width: 700px;
    margin: 0 auto;
    margin-top: 25px;
}

.heading {
    font-style: italic;
}

table {
    width: 100%;
    background-color: rgba(165, 195, 252, 0.726);
    margin-bottom: 10px;
    border-radius: 10px;
}

td {
    width: 20%;
    padding: .5em;
}

.flights-container {
    width: 700px;
    margin: 0 auto;
    background: none;
}

.flights-column {
    padding: 1em;
}


.ret-container, .dep-container, .close-ret-container, .close-dep-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 15px;
    border: 3px solid transparent;
}

.selected {
    border-width: 4px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(122, 114, 240);
}

.butSelected {
    content: 'Selected';
}

label {
    font-weight: bold;
}

p {
    font-style: italic;
}

.btn {
    margin-left: 80%;
    width: 130px;
    text-align: center;
}

.book {
    margin-left: 45%;
    margin-right: 45%
}