<mat-card class="dep-container" *ngFor="let matched of departingFlight; let i = index">
  <mat-card-content>
    <table>
      <tr>
        <td>
          <label for="fCode">Flight Code</label>
          <p>{{ matched.flightCode }}</p>
        </td>
        <td>
          <label for="dest">Origin</label>
          <p>{{ matched.origin }}</p>
        </td>
        <td>
          <label for="dest">Destination</label>
          <p>{{ matched.destination }}</p>
        </td>
        <td>
          <label for="depTime">Departure Time</label>
          <p>{{ matched.depTime }}</p>
        </td>
        <td>
          <label for="arrTime">Arrival Time</label>
          <p>{{ matched.arrTime }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label for="type">Type</label>
          <p>{{ matched.type }}</p>
        </td>
        <td>
          <label for="fPrice">Flight Price</label>
          <p>{{ matched.flightPrice }}</p>
        </td>
        <td>
          <label for="airLine">Airline</label>
          <p>{{ matched.airline }}</p>
        </td>
        <td>
          <label for="depDate">Departure Date</label>
          <p>{{ matched.depDate }}</p>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="primary" type="button" class="btn btn-primary" id="{{ 'dep-btn' + i }}" (click)="getDepart(matched.flightCode, i)">
      SELECT
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="ret-container" *ngFor="let matched of returningFlight; let ind = index">
  <mat-card-content>
    <table>
      <tr>
        <td>
          <label for="fCode">Flight Code</label>
          <p>{{ matched.flightCode }}</p>
        </td>
        <td>
          <label for="dest">Origin</label>
          <p>{{ matched.origin }}</p>
        </td>
        <td>
          <label for="dest">Destination</label>
          <p>{{ matched.destination }}</p>
        </td>
        <td>
          <label for="depTime">Departure Time</label>
          <p>{{ matched.depTime }}</p>
        </td>
        <td>
          <label for="arrTime">Arrival Time</label>
          <p>{{ matched.arrTime }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <label for="type">Type</label>
          <p>{{ matched.type }}</p>
        </td>
        <td>
          <label for="fPrice">Flight Price</label>
          <p>{{ matched.flightPrice }}</p>
        </td>
        <td>
          <label for="airLine">Airline</label>
          <p>{{ matched.airline }}</p>
        </td>
        <td>
          <label for="depDate">Departure Date</label>
          <p>{{ matched.depDate }}</p>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="primary" type="button" class="btn btn-primary" id="{{ 'ret-btn' + ind }}" (click)="getReturn(matched.flightCode, ind)">
      SELECT
    </button>
  </mat-card-content>
</mat-card>
<div class="btn-container" *ngIf="depFlight != ''">
  <app-booking-form class="book" (click)="display()"></app-booking-form>
</div>

