table {
    margin: 0 auto;
}

td {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.container {
    margin-top: 15px;
    width: 750px;
    padding: 1em;
    border-radius: 10px;
    background-color: rgb(140, 95, 212);
}

mat-card {
    background-color: rgb(255, 255, 255);
}

label {
    font-weight: bold;
}

p {
    font-style: italic;
}

.book {
    color: white;
    background-color: rgb(176, 118, 192);
    margin-left: 75%;
}