table {
    width: 100%;
    background-color: rgba(245, 225, 114, 0.5);
    margin-bottom: 10px;
    border-radius: 15px;
}

td {
    width: 20%;
    padding: 1.5em;
}

.container {
    width: 900px;
    margin-top: 15px;
}

label {
    font-weight: bold;
}

p {
    font-style: italic;
}

.btn {
    margin-left: 85%;
}

.book {
    margin-left: 45%;
    margin-right: 45%;
}

.btn-container {
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}