<div class="login-page" *ngIf="varLogin.getLoggedIn() == 0">
  <div class="login-card">
    <mat-card>
      <mat-card-content class="login">
        <form [formGroup]="form">
          <mat-form-field class="role">
            <mat-label class="select">Select Role</mat-label>  
            <mat-select [(value)]="role" (selectionChange)="setRole()">
              <mat-option value="Admin" >Admin</mat-option>
              <mat-option value="User">User</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="creds">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" required />
            <mat-error *ngIf="info.username.errors?.required">Username is required.</mat-error>
          </mat-form-field>
    
          <mat-form-field class="creds">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required />
            <mat-error *ngIf="info.password.errors?.required">Password is required.</mat-error>
          </mat-form-field>
          <mat-error *ngIf="incorrect">Incorrect username or password.</mat-error>
          <button class="loginBtn" *ngIf="!varLogin.getAdmin() && !varLogin.getUser()" disabled>LOGIN</button>
          <button class="loginBtn" *ngIf="varLogin.getAdmin()" (click)="login()" [disabled]="!form.valid" routerLink="/admin">LOGIN</button>
          <button class="loginBtn" *ngIf="varLogin.getUser()" (click)="login()" [disabled]="!form.valid" routerLink="/user">LOGIN</button>
          
          <app-register *ngIf="varLogin.getUser()"></app-register>
        </form>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="login-container">
    <div class="login-text">
      <p>VOYAG'AIR</p>
      <h1>Lorem ipsum blah blah blah diri ibutang unsa nga mga text para sa landing page kunohay</h1>
    </div>
    
  </div>
</div>

<router-outlet *ngIf="loggedIn == '1'"></router-outlet>