.login-card {
  margin: 0 auto;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.198);
}

.login-page {
  height: 100%;
  margin: 0 auto;
  background-image: url("src/assets/images/planee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.507);
  width: 700px;
}

.login {
  font-family: "myFont";
  margin: 0 auto;
  float: center;
  text-align: center;
  border: solid 0.5px;
  background-color: rgba(251, 247, 255, 0.959);
}

input, mat-option, mat-label {
  font-family: 'myFont';
  font-size: 20px;
}

.creds {
  width: 78%;
}

.loginBtn {
  width: 75%;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(109, 28, 185);
  color: white;
  letter-spacing: 5px;
}

.loginBtn:disabled {
  background-color: rgb(190, 190, 190);
  color: rgb(235, 235, 235);
}

.role {
  width: 20%;
}

.select {
  font-style: italic;
  font-size: 15px;
}

a {
  color: blueviolet;
}

.reg {
  margin-bottom: 30px;
  font-size: 20px;
}