.navbar {
    background-color: transparent;
    font-family: 'myFont';
}

.navbar-brand {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}

.upperNav > .container-fluid {
    height: 70px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.lowerNav > .container-fluid{
    font-size: 20px;
}

.ml-auto > .nav-item > a:hover {
    color: rgb(192, 192, 192);
}   

.ml-auto > .nav-item > a {
    color: white;
}

.ml-auto > .nav-item > a.name {
    color: white;
    font-size: 20px;
    margin-right: 30px;
}

.ml-auto > .nav-item > a.active{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

.mx-auto {
    width: 70%;
}

.mx-auto > .nav-item {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.mx-auto > .nav-item > a {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.356);
}

.mx-auto > .nav-item > a:hover {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.mx-auto > .nav-item > a.active {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
    box-shadow: 0px 15px 10px -15px white; 
}

i {
    color: #b88cff;
}

.home-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 40px;
}

.btn {
    height: 50px;
    width: 250px;
    border-radius: 0px;
    font-size: 20px;
}

table {
    margin: 0 auto;
    margin-top: 70px;
}

td {
    padding: 10px;
}