.navbar {
    background-color: transparent;
    font-family: 'myFont';
}
.container-fluid {
    border: 2px solid rgb(243, 230, 255);
    height: 40px;
}

.nav-item {
    font-size: 20px;
}

.nav-item:hover {
    text-decoration: underline;
}   

.nav-item > a.active{
    color: blueviolet;
    background-color: rgb(244, 233, 255);
}