<nav class="navbar navbar-expand-lg navbar-light upperNav">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">VOYAG'AIR</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavBar">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link name" disabled>Hello, <i>{{ name }}!</i></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/admin"
            >HOME</a
          >
        </li>
        <li class="nav-item logout">
          <a class="nav-link" href="/">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light lowerNav"  *ngIf="router.url != '/admin'">
  <div class="container-fluid">
      <ul class="nav navbar-nav mx-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="flights"
            >Flights</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="book"
            >Book</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="create"
            >Create</a
          >
        </li>
      </ul>
  </div>
</nav>

<div class="home-content" *ngIf="router.url == '/admin'">
  <table>
    <tr>
      <td>
        <div class="flights">
          <button
            routerLink="flights"
            mat-raised-button
            color="primary"
            class="btn btn-primary flights"
          >
            View Flights
          </button>
        </div>
      </td>
      <td>
        <div class="users">
          <button
            routerLink="users"
            mat-raised-button
            color="primary"
            class="btn btn-primary users"
          >
            View Users
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="book">
          <button
          routerLink="book"
          mat-raised-button
          color="primary"
          class="btn btn-primary book"
        >
          Book Flight
        </button>
        </div>
      </td>
      <td>
        <div class="create">
          <button
            routerLink="create"
            mat-raised-button
            color="primary"
            class="btn btn-primary flights"
          >
            Create Flight
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
