.navbar {
    background-color: transparent;
    font-family: 'myFont';
}

.navbar-brand {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.navbar-brand:hover {
    color: white;
}

.upperNav > .container-fluid {
    height: 70px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.lowerNav > .container-fluid{
    font-size: 20px;
}

.ml-auto > .nav-item > a:hover {
    color: rgb(192, 192, 192);
}   

.ml-auto > .nav-item > a {
    color: white;
    font-size: 20px;
}

.ml-auto > .nav-item > a.name {
    color: white;
    font-size: 20px;
    margin-right: 25px;
}

.ml-auto > .nav-item > a.active{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

.mx-auto {
    width: 70%;
}

.mx-auto > .nav-item {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.mx-auto > .nav-item > a {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.356);
}

.mx-auto > .nav-item > a:hover {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.mx-auto > .nav-item > a.active {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
    box-shadow: 0px 15px 10px -15px white; 
}

i {
    color: #b88cff;
}

.home-content {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 40px;
}

.home-content > div {
    margin-bottom: 70px;
}

.btn {
    height: 50px;
    width: 250px;
    border-radius: 0px;
    font-size: 40px;
    font-weight: 900 ;
    color: rgb(51, 16, 148);
    letter-spacing: 2px;
}

div.create {
    background-image: url("src/assets/images/skyplane.jpg");
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    height: 175px;
    width: 100%;
}

div.flights {
    background-image: url("src/assets/images/flights.png");
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    height: 175px;
    width: 100%;
}

div.book {
    background-image: url("src/assets/images/book.jpg");
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    height: 175px;
    width: 100%;
}

div.users {
    background-image: url("src/assets/images/passport.jpg");
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    height: 175px;
    width: 100%;
}

button.create, button.flights, button.book, button.users{
    background-color: rgba(224, 202, 255, 0.568);
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

button.create:hover, button.flights:hover, button.book:hover, button.users:hover {
    background-color: rgba(21, 3, 63, 0.575);
    color: rgb(213, 183, 255);
}