<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">VOYAGER</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavBar">
      <ul class="nav navbar-nav ml-auto">
        
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/admin"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="create"
            >Create Flight</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="flights"
            >View Flights</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="book"
            >Book Flight</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="users"
            >View Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="home-content" *ngIf="router.url == '/admin'">
  <p>
    Hello <i>{{ username }}!</i>
  </p>
  <table>
    <tr>
      <td>
        <button
          routerLink="create"
          mat-raised-button
          color="primary"
          class="btn btn-primary"
        >
          Create Flight
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          routerLink="flights"
          mat-raised-button
          color="primary"
          class="btn btn-primary"
        >
          View Flights
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          routerLink="book"
          mat-raised-button
          color="primary"
          class="btn btn-primary"
        >
          Book Flight
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          routerLink="users"
          mat-raised-button
          color="primary"
          class="btn btn-primary"
        >
          View Users
        </button>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
