.filter-bar {
    margin-top: 25px;
    text-align: center;
}

mat-form-field {
    font-size: 20px;
    width: 250px;
}

.inpField {
    height: 20px;
    font-size: 20px;
}

.mat-label {
    font-size: 20px;
}

#notExisting {
    margin-top: 50px;
    text-align: center;
}

::ng-deep .mat-select-arrow {
    color: white!important;
}

::ng-deep .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
}

::ng-deep .mat-form-field-underline {
    background-color: #ffffff!important;
}


::ng-deep .mat-select-value, input{    
    color: #e5d5ff!important;  
    font-size: 20px;
}


