<div class="container">

    <div class="dateLabel">
        <p class="label">BOOKING DATE</p>
        <p class="date">Nov. 20, 2021</p>
    </div>

    <div class="flightDet">
        <p>Flight Details</p>
    </div>

<div class="flight-content">

    <div class="contentHeader">
        <div class="icon">
            <img class="airplane" src="assets/images/airplane.png" alt="image">
        </div>
        <div class="departure">
            <p class="depLabel">DEPARTURE</p> 
            <p class="depDate">THU. 31 JAN. 2019</p>
        </div>        
        <div class="code-air">
            <p>Cebgo</p>
            <p class="flightCode"> <label class="codeLabel">Flight Code:</label> DG6641</p>
        </div>
    </div>

    <div class="origin">
        <h1>CEB</h1>
        <div class="time">
            <p>1330</p>
        </div>        
        <div class="loc-det">
            <p>Depart CEB</p>
        <p>Philippines</p>
        </div>
    </div>

    <div class="icon-to">
        <img class="paperplane" src="assets/images/paperplane.png" alt="image">
    </div>

    <div class="destination">
        <h1>PAG</h1>
        <div class="time">
            <p>1445</p>
        </div>        
        <div class="loc-det">
            <p>Arrival PAG</p>
            <p>Philippines</p>
        </div>
    </div>
</div>

    <div class="guestDet">
        <p>Guest Details</p>
    </div>

    <div class="guest-content">
        <div class="guest-info">
            <p class="guestP"> <label class="guest">Name:</label> Angelika Jungco</p>
            <p class="guestP"> <label class="guest">No. of Passengers:</label> 1</p>
            <p class="guestP"> <label class="guest">Seat Class:</label> Economy</p>
        </div>        
    </div>
</div>