{{onChange()}}

<div class="filter-bar">
    <mat-form-field>
        <mat-select class="inpField" placeholder="Choose Booking Type" [(value)]="filterChoice" (valueChange)="onChange()">
            <mat-option value="All">All</mat-option>
            <mat-option value="One-Way">One-Way</mat-option>
            <mat-option value="Two-Way">Two-Way</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  
  <div id="notExisting" *ngIf="oneWay.length == 0 && twoWayDep.length == 0 && twoWayRet.length == 0 && filterChoice == 'All'">
    <h2>- No existing bookings -</h2> 
  </div>
  <div id="notExisting" *ngIf="oneWay.length == 0 && filterChoice == 'One-Way'">
    <h2>- No existing bookings -</h2> 
  </div>
  <div id="notExisting" *ngIf="twoWayDep.length == 0 && twoWayRet.length == 0 && filterChoice == 'Two-Way'">
    <h2>- No existing bookings -</h2> 
  </div>
  
  <ng-container *ngIf="filterChoice == 'All'"></ng-container>
  
  <ng-container *ngIf="isAll || isOneWay">
    <app-oneway-booking-list [oneWay]="oneWay"></app-oneway-booking-list>
  </ng-container>
  
  <ng-container *ngIf="isAll || isTwoWay">
    <app-twoway-booking-list [twoWayDep]="twoWayDep" [twoWayRet]="twoWayRet"></app-twoway-booking-list>
  </ng-container>