.filter-bar {
    margin-top: 25px;
    text-align: center;
}

.air-logo-container {
    text-align: center;
    margin-top: 250px;
}

.air-logo {    
    color: white;
    opacity: 0.3;
    letter-spacing: 20px;
    font-size: 120px;
    font-weight: bold;
    font-family: 'myFont';
    font-style: italic;
}

mat-form-field {
    font-size: 20px;
    width: 250px;
}

.inpField {
    height: 20px;
    font-size: 20px;
}

.mat-label {
    font-size: 20px;
}

#notExisting {
    margin-top: 50px;
    text-align: center;
}

::ng-deep .mat-select-arrow {
    color: white!important;
}

::ng-deep .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
}

::ng-deep .mat-form-field-underline {
    background-color: #ffffff!important;
}


::ng-deep .mat-select-value, input{    
    color: #8dd2ff!important;  
    font-size: 20px;
}

h2 {
    color: white;
    font-family: 'myFont';
    font-weight: bold;
}