.filter-bar {
    text-align: center;
}

mat-form-field {
    height: 55px;
    width: 250px;
    font-size: 20px;
    margin-top: 3%;
}

#notExisting {
    margin-top: 50px;
    text-align: center;
}

