.registerForm {
  width: 450px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(174, 174, 243, 0.5);
}

.regTitle {
  letter-spacing: 2px;
  padding: 5px;
  font-weight: 800;
  text-align: center;
  color: rgb(122, 59, 158);
}

.regContent {
  padding: 1em;
}

.inpField {
  display: grid;
  height: 55px;
  margin-bottom: 2px;
  color: blueviolet;  
}

.reg {
  text-align: center;
}

.reg button {
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  height: 50px;
  width: 300px;
}

.alert-success {
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  padding-top: 10.5px;
}

h3 {
  font-style: italic;
}

#space {
  height: 20px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 11px;
}

#space .custError {
  opacity: 1;
	animation-name: fadeInOpacity, slide-down;
	animation-timing-function: ease-in-out;
	animation-duration: .25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-down {
  from {
    margin-top: -.8%;
    height: 100%; 
  }

  to {
    margin-top: 0%;
    height: 20px;
  }
}

.regText {
  color: rgb(70, 49, 128);
}

.regText:hover {
  color: #815ee2;
  text-decoration: none;
  cursor: pointer;
}

.regBtn {
  margin-bottom: 30px;
  font-size: 20px;
  color: rgb(90, 90, 90);
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #640000!important;
}
