table {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1500px;
    margin-bottom: 40px;
}

label {
    font-family: 'fontBold';
}

p {
    font-family: 'myFont';
    width: 100px;
}

tr {
    margin-bottom: 20px;
}

td {
    width: 25%;
}

.btn {
    margin: 0 auto;
}