table {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.users {
    margin-top: 100px;
    margin: 0 auto;
    width: 85%;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px double rgb(236, 219, 255);
    width: 100%;
    margin-top: 15px;
}

label {
    font-family: 'fontBold';
}

p {
    font-family: 'myFont';
    font-size: 20px;
    color: rgb(58, 0, 167);
    width: 100px;
}

tr {
    margin-bottom: 20px;
}

td {
    width: 25%;
}

.btn {
    float: right;
    border-radius: 0px;
}