table {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.users {
    margin-top: 100px;
    margin: 0 auto;
    width: 85%;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-top: 15px;
}

label {
    font-family: 'fontBold';
}

p {
    font-family: 'myFont';
    font-size: 20px;
    color: rgb(58, 0, 167);
    width: 100px;
}

tr {
    margin-bottom: 20px;
}

td {
    width: 25%;
}

.btn {
    float: right;
    width: 135px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid rgb(84, 17, 209);
    font-size: 15px;
    background-color: transparent;
    color: rgb(84, 17, 209);
}

.btn:hover {
    background-color: rgba(84, 17, 209, 0.144);
}

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }