table {
  width: 100%;
  margin: 0 auto;
  background-color: #cae1ffbd;
  border-top: 2px double black;
}

label {
  font-family: 'fontBold';
}

p {
  font-family: 'myFont';
}

td {
  padding: 10px;
}

div {
  padding: 15px;
}

.airline {
  min-width: 120px;
  max-width: 120px;
}

.ori {
  min-width: 70px;
  max-width: 70px;
}

.dest, .arr, .type, .stat, .code {
  min-width: 80px;
  max-width: 80px;
}

.dep {
  min-width: 100px;
  max-width: 100px;
}

td.cancel {
  min-width: 80px;
  max-width: 80px;
  border: 1px;
}