.btn {
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-bottom: 1.5em;
    margin-top: .5em;
}

.bookForm {
    width: 430px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #acd0ff;
}

.btn {
    width: 180px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.booking-form {
    text-align: center;
}

.close {
    font-size: 15px;
    height: 50px;
    padding: 0;
}

.bf-title {
    text-align: center;
    color: rgb(32, 55, 155);
}

.field {
    width: 324px;
    margin-top: 2%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
}

.inpField {
    height: 20px;
    font-size: 20px;
    display: grid;
}

mat-label {
    font-size: 20px;
}

.confirm {
    display: inline;
    margin-left: 75%;
    width: 100px;
    height: 40px;
    font-size: 15px;
}

.alert {
    margin-top: 15px;
    text-align: center;
}

::ng-deep .mat-select-arrow {
    color: #002d80!important;
}

::ng-deep .mat-focused .mat-select-arrow {
  color: #00009c!important;
}

::ng-deep .mat-form-field-label {
    color: #002d80!important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #00009c!important;
}

::ng-deep .mat-form-field-ripple {
    background-color: #00009c!important;
}

::ng-deep .mat-focused .mat-form-required-marker {
    color: white!important;
}

::ng-deep .mat-form-field-underline {
    background-color: #002d80!important;
}

::ng-deep .mat-select-value, input{    
    color: #8dd2ff !important;
    font-size: 20px;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #cf0000!important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #cf0000!important;
}

mat-error {
    color: #cf0000;
}

.mat-form-field.mat-form-field-invalid input {
  color: rgb(255, 64, 64)!important;
}