.bookForm {
    width: 400px;
    margin: 0 auto;
    margin-top:5%; 
    margin-bottom: 5%;
}

.bf-title {
    text-align: center;
}

.field {
    width: 324px;
    margin-top: 2%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
}

.inpField {
    font-size: 20px;
    display: grid;
}

.confirm {
    display: inline;
    margin-left: 75%;
    width: 100px;
    font-size: 15px;
}

.success-msg {
    margin-top: 15px;
    color: green;
    font-style: italic;
    text-align: center;
}

.close {
    font-size: 30px;
}
