.bookForm {
    width: 430px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(36, 36, 36, 0.1);
}

.booking-form {
    text-align: center;
}

.close {
    font-size: 15px;
    height: 50px;
    padding: 0;
}

.bf-title {
    text-align: center;
}

.field {
    width: 324px;
    margin-top: 2%;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
}

.inpField {
    height: 20px;
    font-size: 20px;
    display: grid;
}

mat-label {
    font-size: 20px;
}

.confirm {
    display: inline;
    margin-left: 75%;
    width: 100px;
    height: 40px;
    font-size: 15px;
}

.alert {
    margin-top: 15px;
    text-align: center;
}

