/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: myFont;
  src: url(assets/fonts/FivoSans-Regular.otf);
}

@font-face {
  font-family: fontBold;
  src: url(assets/fonts/FivoSans-Bold.otf);
}

html,
body {
  height: 100%;
  font-family: "myFont";
  background-image: linear-gradient(#2a5bb6, #c1e8ff9f);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form {
  font-family: "myFont";
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
}

mat-form-field {
  padding: 10px;
}

button {
  background-color: rgba(208, 158, 255, 0.24);
  border: solid 0.5px;
  height: 35px;
  margin-bottom: 25px;
  font-size: 20px;
}

.btn-primary {
  font-family: 'myFont';
  border-radius: 0px;
}

mat-label,
mat-select {
  font-family: "myFont";
  font-size: 15px;
}