<div class="filter-bar">
    <mat-form-field>
        <mat-select [(value)]="filterChoice" placeholder="Choose an Airline" (valueChange)="onChange()"> 
            <mat-option *ngFor="let airLines of airlines" [value]="airLines.value">
                {{airLines.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="container" *ngFor="let flight of filteredList">
    <mat-card>        
            <mat-card-content>
                <table>
                    <tr>
                        <td>
                            <label for="fCode">Flight Code</label>
                            <p>{{flight.flightCode}}</p>
                        </td>
                        <td>
                            <label for="dest">Origin</label>
                            <p>{{flight.origin}}</p>
                        </td>
                        <td>
                            <label for="dest">Destination</label>
                            <p>{{flight.destination}}</p>
                        </td>
                        <td>
                            <label for="depTime">Departure Time</label>
                            <p>{{flight.depTime}}</p>
                        </td>
                        <td>
                            <label for="arrTime">Arrival Time</label>
                            <p>{{flight.arrTime}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="type">Type</label>
                            <p>{{flight.type}}</p>
                        </td>
                        <td>
                            <label for="fPrice">Flight Price</label>
                            <p>{{flight.flightPrice}}</p>
                        </td>
                        <td colspan="2">
                            <label for="airLine">Airline</label>
                            <p>{{flight.airline}}</p>
                        </td>
                    </tr>
                </table>
                <button mat-raised-button class="book">BOOK NOW</button>
            </mat-card-content>
    </mat-card>
</div>