{{ onChange() }}

<div class="filter-bar">
  <mat-form-field>
    <mat-select
      [(value)]="filterChoice"
      placeholder="Airline"
      (valueChange)="onChange()"
    >
      <mat-option *ngFor="let airLines of airlines" [value]="airLines.value">
        {{ airLines.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      [(value)]="filterStatus"
      placeholder="Flight Status"
      (valueChange)="onChange()"
    >
      <mat-option *ngFor="let status of flightStat" [value]="status.value">
        {{ status.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div id="notExisting" *ngIf="filteredList.length == 0 && filterChoice != ''">
  <h2>- No existing flights -</h2>
</div>

<div class="flights">
  <mat-card class="container-fluid" *ngFor="let flight of filteredList">
    <mat-card-content>
      <table>
        <tr>
          <td class="airline">
            <label for="aLine">AIRLINE</label>
            <p>{{ flight.airline }}</p>
          </td>
          <td class="code">
            <label for="fCode">Flight Code</label>
            <p>{{ flight.flightCode }}</p>
          </td>
          <td class="ori">
            <label for="dest">Origin</label>
            <p>{{ flight.origin }}</p>
          </td>
          <td class="dest">
            <label for="dest">Destination</label>
            <p>{{ flight.destination }}</p>
          </td>
          <td class="dep">
            <label for="depDate">Departure Date</label>
            <p>{{ flight.depDate }}</p>
          </td>
          <td class="dep">
            <label for="depTime">Departure Time</label>
            <p>{{ flight.depTime }}</p>
          </td>
          <td class="arr">
            <label for="arrTime">Arrival Time</label>
            <p>{{ flight.arrTime }}</p>
          </td>
          <td class="type">
            <label for="type">Type</label>
            <p>{{ flight.type }}</p>
          </td>
          <td class="prc">
            <label for="fPrice">Flight Price</label>
            <p>{{ flight.flightPrice }}</p>
          </td>
          <td class="stat">
            <label for="status">Status</label>
            <p>{{ flight.status }}</p>
          </td>
          <td class="cancel" *ngIf="loggedInAdmin == 'true'">
            <app-cancel-flight
              [flightCode]="flight.flightCode"
              [status]="flight.status"
              ></app-cancel-flight
            >
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
