table {
    margin: 0 auto;
    width: 100%;
}

td {
    width: 20%;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.container {
    width: 800px;
    padding: 1em;
    margin-top: 15px;
}

label {
    font-weight: bold;
}

p {
    font-style: italic;
}

.heading {
    width: 800px;
    margin: 0 auto;
    margin-top: 25px;
}

h1 {
    font-style: italic;
}

.book {
    color: white;
    background-color: rgb(176, 118, 192);
    margin-left: 75%;
}

.filter-bar {
    text-align: center;
}

mat-form-field {
    height: 55px;
    width: 250px;
    font-size: 20px;
    margin-top: 3%;
}