table {
    width: 100%;
    border-radius: 15px;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.459);
    width: 100%;
    margin-top: 15px;
}

.airline {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
    font-size: 15px;
}

.airline > label {
    font-size: 20px;
}

.dep {
    min-width: 50px;
    max-width: 50px;
}

.type{
    min-width: 30px;
    max-width: 30px;
}

.ori {
    min-width: 28px;
    max-width: 28px;
}

.code, .arr, .dest, .prc, .stat {
    min-width: 40px;
    max-width: 40px;
}

.cancel {
    width: 55px;
}

.flights {
    margin: 0 auto;
    width: 95%;
}

td {
    padding: 5px;
    text-align: center;
}

label {
    font-family: 'fontBold';
    color: #0000c0;
}

p {
    font-style: italic;
    font-family: 'myFont';
}

.airline > p {
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    font-style: italic;
    font-family: 'myFont';
}

h2 {
    font-style: italic;
    margin-top: 40px;
    font-family: 'myFont';
}

.filter-bar {
    text-align: center;
    margin-bottom: 70px;
}

#notExisting {
    text-align: center;
}

mat-form-field {
    height: 55px;
    width: 250px;
    font-size: 20px;
    margin-top: 3%;
}


::ng-deep .mat-select-arrow {
    color: white!important;
}

::ng-deep .mat-focused .mat-select-arrow {
  color: #3d90fd!important;
}

::ng-deep .mat-form-field-label {
    color: rgb(255, 255, 255)!important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #3d90fd!important;
}

::ng-deep .mat-form-field-ripple {
    background-color: #3d90fd!important;
}

::ng-deep .mat-focused .mat-form-required-marker {
    color: white!important;
}

::ng-deep .mat-form-field-underline {
    background-color: #ffffff!important;
}

::ng-deep .mat-select-value, input{    
    color: #b8d7ff!important;  
    font-size: 20px;
}