<div class="filter-bar">
    <mat-form-field>
        <mat-select [(value)]="filterChoice" placeholder="Choose an Airline" (valueChange)="onChange()"> 
            <mat-option *ngFor="let airLines of airlines" [value]="airLines.value">
                {{airLines.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="heading" [ngSwitch]="filterChoice">
    <h1  *ngSwitchCase="airlines[0].value">All Airlines</h1>
    <h1  *ngSwitchCase="airlines[1].value">Cebgo</h1>
    <h1  *ngSwitchCase="airlines[2].value">Cebu Pacific</h1>
    <h1  *ngSwitchCase="airlines[3].value">Philippines AirAsia</h1>
    <h1  *ngSwitchCase="airlines[4].value">Philippines Airlines</h1>
    <h1  *ngSwitchCase="airlines[5].value">Sunlight Air</h1>
    <h1  *ngSwitchCase="airlines[6].value">PAL Express</h1>
    <h1  *ngSwitchCase="airlines[7].value">Pan Pacific Airlines</h1>   
</div>

<div id="notExisting" *ngIf="filteredList.length == 0 && filterChoice != ''">
    <h2>- No existing flights -</h2> 
</div>

    <mat-card class="container" *ngFor="let flight of filteredList">  
            <mat-card-content>
                <table>
                    <tr>
                        <td>
                            <label for="fCode">Flight Code</label>
                            <p>{{flight.flightCode}}</p>
                        </td>
                        <td>
                            <label for="dest">Origin</label>
                            <p>{{flight.origin}}</p>
                        </td>
                        <td>
                            <label for="dest">Destination</label>
                            <p>{{flight.destination}}</p>
                        </td>
                        <td>
                            <label for="depTime">Departure Time</label>
                            <p>{{flight.depTime}}</p>
                        </td>
                        <td>
                            <label for="arrTime">Arrival Time</label>
                            <p>{{flight.arrTime}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="type">Type</label>
                            <p>{{flight.type}}</p>
                        </td>
                        <td>
                            <label for="fPrice">Flight Price</label>
                            <p>{{flight.flightPrice}}</p>
                        </td>
                        <td>
                            <label for="airLine">Airline</label>
                            <p>{{flight.airline}}</p>
                        </td>
                        <td>
                            <label for="status">Status</label>
                            <p>{{flight.status}}</p>
                        </td>
                        <td>
                            <label for="depDate">Departure Date</label>
                            <p>{{flight.depDate}}</p>
                        </td>
                    </tr>
                </table>
                <app-booking-form class="book" [flightCode]="flight.flightCode"></app-booking-form>
                <app-cancel-flight *ngIf="variable.getAdmin()" class="book" [flightCode]="flight.flightCode">Cancel Flight</app-cancel-flight> 
            </mat-card-content>     
    </mat-card>
